@mixin heading_style {
  caret-color: rgb(55, 53, 47);
  letter-spacing: -0.01rem;
  @apply mt-[30px] w-full max-w-full whitespace-pre-wrap break-words font-semibold;

  &:target {
    scroll-margin-top: 80px;
  }

  @media (max-width: 767px) {
    margin-top: 24px;
  }
}

@mixin list_style {
  margin-top: 24px;
  caret-color: rgb(55, 53, 47);

  @media (max-width: 767px) {
    margin-top: 10px;
  }
}

@mixin table_cell_style {
  position: relative;
  padding: 7px 9px;
  min-width: 240px;
  min-height: 32px;
  border: 1px solid rgb(233, 233, 231);
  vertical-align: top;
  text-align: start;
}

.block {
  h1 {
    font-size: 1.875em;
    @include heading_style();

    & + p,
    & + ul,
    & + ol {
      margin-top: 8px;
    }

    & + blockquote,
    & + aside,
    & + iframe {
      margin-top: 12px;
    }
  }

  h2 {
    font-size: 1.5em;
    @include heading_style();

    & + p,
    & + ul,
    & + ol {
      margin-top: 8px;
    }

    & + blockquote,
    & + aside,
    & + iframe {
      margin-top: 12px;
    }
  }

  h3 {
    font-size: 1.25em;
    @include heading_style();

    & + p,
    & + ul,
    & + ol {
      margin-top: 8px;
    }

    & + blockquote,
    & + aside,
    & + iframe {
      margin-top: 10px;
    }
  }

  h4 {
    font-size: 1.15em;
    @include heading_style();

    & + p,
    & + ul,
    & + ol {
      margin-top: 8px;
    }

    & + blockquote,
    & + aside,
    & + iframe {
      margin-top: 10px;
    }
  }

  ul {
    list-style-type: disc;
    @include list_style();
  }

  ol {
    list-style-type: decimal;
    @include list_style();
  }

  li {
    margin-left: 24px;
    margin-bottom: 10px;
    line-height: 1.75;
    letter-spacing: -0.003em;

    & > ul,
    & > li {
      margin-top: 10px;
    }
  }

  p {
    margin-top: 24px;
    width: 100%;
    max-width: 100%;
    white-space: pre-wrap;
    word-break: break-word;
    caret-color: rgb(55, 53, 47);
    line-height: 1.75;
    letter-spacing: -0.003em;

    @media (max-width: 767px) {
      margin-top: 10px;
    }
  }

  code {
    padding: 0.2em 0.4em;
    border-radius: 3px;
    color: #eb5757;
    background-color: rgba(135, 131, 120, 0.15);
    font-size: 85%;
    white-space: 'normal';
    word-break: 'break-word';
  }

  blockquote {
    display: flex;
    margin-top: 24px;
    padding: 8px 16px;
    width: 100%;
    border-left: 2px solid var(--primary);
    color: var(--text3);
    background-color: var(--bg-page1);
    font-size: 1em;
    font-style: italic;

    & p {
      margin: 4px;
    }

    @media (max-width: 767px) {
      line-height: 1.58;
      margin-top: 10px;
      letter-spacing: -0.004em;
    }
  }

  pre {
    margin-top: 30px;
    word-break: break-all;

    & div code {
      padding: 0;
    }

    @media (max-width: 767px) {
      margin-top: 35px;
    }
  }

  table {
    width: 100%;
    table-layout: auto;
    font-size: 87.5%;
    line-height: 1.25em;
    border-collapse: collapse;
    color: var(--text1);
  }

  th {
    @include table_cell_style();
    font-weight: 600;
  }

  td {
    @include table_cell_style();
    color: inherit;
    fill: inherit;
  }

  a {
    color: var(--primary-variant);
    transition: all 150ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover {
      text-decoration: underline;
    }
  }

  img {
    margin: 1em auto;
  }

  figcaption {
    font-size: 90%;
    font-style: italic;
  }

  aside {
    margin-top: 24px;
    width: 100%;
    border-radius: 3px;
    border: 1px solid rgba(55, 53, 47, 0.16);
    padding: 16px 16px 16px 12px;
    color: var(--text3);
  }
}
