@keyframes slider {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(0);
  }
}

.rotator {
  display: inline-flex;
  position: relative;
  justify-content: center;
  border-bottom: solid 4px white;
  overflow: hidden;
}

.rotator .item {
  display: none;
}

.rotator .active {
  animation: slider 1s;
}
