@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translate3d(0, 20%, 0);
  }
  to {
    opacity: 1;
    transform: translateZ(0);
  }
}

.greetings {
  animation: fadeInUp 1s;
  animation-iteration-count: 1;
}
