.post-tags-container {
  @apply flex gap-1.5 flex-nowrap overflow-x-scroll;

  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */

  &::-webkit-scrollbar {
    display: none;
  }
}
