.post-tags-container {
  @apply flex gap-1.5 flex-nowrap overflow-x-scroll;

  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */

  &::-webkit-scrollbar {
    display: none;
  }
}

.syntax-highlighter-container {
  @apply relative;

  & .language-indicator {
    @apply absolute top-2 left-2 z-[1] text-xs font-sans md:opacity-0 opacity-100 transition duration-100;
    color: rgba(0, 0, 0, 0.5);
  }

  @media (max-width: 767px) {
    & .language-indicator {
      @apply opacity-100;
    }
  }

  &:hover {
    & .language-indicator {
      @apply opacity-100;
    }
  }
}

.recommended-posts-section {
  height: 230px;

  .card {
    width: 250px;
  }

  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
  &::-webkit-scrollbar {
    display: none;
  }
}

.article {
  & .header {
    @apply px-6 pt-6;
  }

  & .series {
    @apply px-6;
  }

  & .content {
    @apply px-6;
  }

  & .footer {
    @apply px-6 pb-6;
  }
}

.post-card-text {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  line-height: 1.5;
}
